.body {
    font-family: 'Kanit';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit';
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(73, 71, 71); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
}
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
#welcome{  
    height: 750px;
    width: 100%;
    background-image: url("PIC/valentyn-chernetskyi-G_X9Trk3w7Q-unsplash.jpg");
    background-size: 100%; 
      
}
#header {
    text-align: center;
    display: flex;
}




    





.PORT {
    margin-top: 20px;
}
.PORT a {
    font-size: 2rem;
    text-decoration: none;
    color: whitesmoke;
    margin-left: 30px;  
}
.BAR {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 900px;
    margin-top: 15px;
}
.BAR li {
    margin: 0 1rem;
    margin-top: 20px;     
}
.BAR li a {
    text-decoration: none; 
    font-size: 1rem; 
    color: whitesmoke; 
}
.background {
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;    
}
.background img {    
    width: 100%;
    
}
.content_center  {
    list-style: none;
    text-align: center;
    color: rgb(111, 108, 108);
    margin-top: 180px;
    /* padding: 1rem;    */
}
.content_center h1{
    text-shadow: 5px 4px rgb(212, 212, 212);
    font-size: 80px; 
}
.content_center h4 {
    font-size: 40px;
    text-shadow: 5px 0px rgb(212, 212, 212);
}
.content_center h6 {
    font-size: 40px;
    text-shadow: 5px 0px rgb(212, 212, 212);
}


/* ปุ่ม download */
.download_resume {
    display: inline-block;
    border-radius: 4px;
    background-color: #898280;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 625px;
    
    
  }
.download_resume span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.download_resume span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
.download_resume:hover span {
    padding-right: 25px;
  }
  
.download_resume:hover span:after {
    opacity: 1;
    right: 0;
  }



#About {
    height: 720px;
    width: 100%;
    background: #FFFFFF; 
} 
 .intro {
    width: 100%; 
    height: 100%;     
}
.pic {
    float: left;
    height: 35rem;
    width: 25rem;
    border-radius: 20px; 
    margin-left: 130px;
    margin-top: 60px;    
}
.column {
    margin-left: 500px;
}
.column h5 {
    text-align: center;
    padding-top: 60px;
}
.column h1 {
    text-align: center;
}
.column p {
    margin-top: 20px;
    width: 600px;
    margin-left: 280px;
    
}
.main_info {
    width: 770px;
    height: 270px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    margin-left: 685px;
    margin-top: 30px;
}
.info {
    float: left;
    margin-left: 150px;
    padding: 0px 0px;
}
.info h3 {
    font-size: 40px;
    margin-top: 30px;
}
.skill {
    float: left;
    margin-left: 50px;
    margin-top: 35px;
}
.skill h3 {
    font-size: 40px;
}
.skill_info li{
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}
.info h5 {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
}
.info_row1 {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}
.age_number {
    margin-left: 100px;
}
.info_row2 {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}
.gender_male{
    margin-left: 68px;
}
.info_row3 {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}

.email_s {
    margin-left: 83px;
}
.info_row4 {
    display: flex;
    padding: 0.5rem 0.5rem 0.5rem 0rem;
}
.phone_number {
    margin-left: 77px;
}


#Experience {
    height: 1270px;
    width: 100%;
    background: #d3d1d1;
    display: block; 
    overflow: hidden;  
}
.main_EXP {
    margin-left: 50px;
    margin-top: 20px;
    height: 100px;
    padding-top: 10px;
    font-size: 80px;
    

}
.Bangkok {
    display: flex;
    height: 350px;
    padding-top: 40px;
    /* border-bottom: 3px solid black; */
}
.Bangkok_info {
    list-style: none;
    margin-top: 70px;
    padding-bottom: 60px;
    margin-left: 55px;
    
}
.Bangkok_PIC{
    height: 500px;
    width: 400px;
    margin-left: 30px;
    
    
}
.Bangkok_logo img {
    height: 300px;
    width: 350px;
    margin-left: 140px;
    margin-top: 10px;
}

.PTT {
    display: flex;
    height: 350px;
    padding-top: 40px;
}
.PTT_info {
    list-style: none;
    /* margin-left: 270px; */
    padding-top: 60px;
}
.PTT_PIC {
    height: 640px;
    width: 540px;
    padding-left: 90px;
    align-items: center;
}
.PTT_logo {
    margin-left: 90px;
    margin-top: 50px;
}

.SONY {
    display: flex;
    height: 350px;
    padding-top: 40px;
}
.SONY_logo {
    margin-left: 115px;
    margin-top: 130px;
}
.SONY_logo img{
    height: 100px;
    width: 450px;

}
.SONY_PIC {
    height: 640px;
    width: 540px;
    margin-top: 70px;

}
.SONY_info {
    list-style: none;
    margin-top: 100px;
}



footer {
    width: 100%;
    background: #FFFFFF;
    
    
    
}
.social {
    display: flex;
    
    align-items: center;
    margin-left: 430px;
    margin-bottom: 15px;
}
.social a {
    padding: 0px 67px;
}
footer p {
    text-align: center;

}

@media screen and (max-width :768px){
    #welcome {
        height: 100%;
        width: 100%;
    }
    .background {
        height: 100%;
        width: 100%;
    }
    .background img {    
        width: 100%;   
    }
    .PORT a {
        font-size: 25px;
    }
    .BAR {
        margin-left: 280px;  
        text-align: center;
    }
    .BAR li {
        color: black;
    }
    .BAR li a {
        font-size: 12px;
    }
    .content_center {
        margin-top: 60px;
        padding-bottom: 10px;
    }
    .content_center h1{
        font-size: 30px;
        text-shadow: 4px 2px rgb(212, 212, 212);
    }
    .content_center h4 {
        font-size: 25px;
        text-shadow: 3px 0px rgb(212, 212, 212);
    }
    .content_center h6 {
        font-size: 25px;
        padding-bottom: 20px;
        text-shadow: 3px 0px rgb(212, 212, 212);
    }
    .download_resume{
        margin-left: 280px;
        margin-bottom: 40px;
        font-size: 15px;
        width: 200px;
    }
    #About {
        height: 700px;
    }
    .pic {
        height: 18rem;
        width: 12rem;
        margin-left: 20px;
    }
    .main_info {
        width: 690px;
        height: 270px;
    }
    .column {
        margin-left: 5px;
        font-size: 15px;
        margin-left: 50px;
    }
    .column p {
        width: 500px;
        margin-left: 200px;
    }
    .column h5 {
        padding-top: 80px;
    }
    .main_info {
        margin-left: 50px;
        font-size: 14px;
    }
    .skill h3 {
        font-size: 30px;
    }
    .info h3 {
        font-size: 30px;
    }
    .main_EXP {
        font-size: 45px;
    }
    #Experience {
        height: 870px;
    }
    .Bangkok {
        padding-top: 0px;
        height: 230px;
    }
    .Bangkok_logo img{
        height: 100px;
        width: 150px;
        margin-left: 15px;
        margin-top: 50px;
    }
    .Bangkok_info {
        padding-left: 0px;
        margin-left: 25px;
        font-size: 8px;
        margin-top: 80px;
    }
    .Bangkok_PIC {
        margin-top: 0px;
        margin-left: 15px ;
        height: 400px;
        width: 300px;
    }
    .PTT {
        height: 250px;  
    }
    .PTT_PIC {
        height: 740px;
        width: 620px;
        padding-left: 15px;
    }
    .PTT_info {
        width: 700px;
        padding-top: 0px;
        font-size: 8px;
    }
    .PTT_logo {
        margin-left: 0px;
        margin-top: 40px;
        
    }
    .PTT_logo img {
        height: 140px;
        width: 140px;
    }
    .SONY_logo {
        margin-left: 10px;
        margin-top: 30px;
    }
    .SONY_logo img {
        height: 40px;
        width: 170px;
    }
    .SONY_info {
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 0px;
        font-size: 8px;
    }
    .SONY_PIC {
        margin-top: 0px;
    }





    .footer {
        width: 100%;
        
    }
    .social {
        margin-left: 210px;
    }
    .social a{
        padding:0px 30px;
        
    }
}



@media screen and (max-width :360px){
    #welcome {
        width: 100%;
        background-repeat: no-repeat;
        height: 450px;
        background-size: 300%;
        
    }
    
    .PORT a {
        font-size: 12px;
        margin-left: 10px;
    }
    .BAR {
        margin-left: 35px;  
        text-align: center;
        margin-top: 0px;
    }
    .BAR li {
        color: black;
    }
    .BAR li a {
        font-size: 9px;
    }
    .content_center {
        margin-top: 76px;
        padding-bottom: 10px;
        padding-left: 0px;
    }
    .content_center h1{
        font-size: 25px;
        text-shadow: 3px 1px rgb(212, 212, 212);
    }
    .content_center h4 {
        font-size: 20px;
        text-shadow: 2px 0px rgb(212, 212, 212);
    }
    .content_center h6 {
        font-size: 20px;
        padding-bottom: 20px;
        text-shadow: 2px 0px rgb(212, 212, 212);
    }
    .download_resume{
        margin-left: 85px;
        margin-bottom: 80px;
        font-size: 12px;
        width: 150px;
    }
    #About {
        height: 750px;
    }
    .pic {
        height: 20rem;
        width: 15rem;
        margin-left: 65px;
        margin-top: 30px;
    }
    .column {
        margin-left: 5px;
        font-size: 10px;
        margin-left: 20px;
    }
    .column p {
        width: 290px;
        margin-left: 27px;
    }
    .column h5 {
        padding-top: 360px;
        font-size: 18px;
        
    }
    .column h1 {
        font-size: 23px;
        
    }
    .main_info {
        margin-left: 35px;
        font-size: 10px;
        width: 300px;
        height: 180px;
        margin-top: 0px;
    }
    .skill {
        margin-left: 6px;
        margin-top: 23px;
    }
    .skill_info {
        padding-left: 14px;
    }
    .skill h3 {
        font-size: 14px;
    }
    .info {
        margin-left: 1px;
        margin-top: 23px;
    }
    .info h3 {
        font-size: 14px;
        margin-top: 0px;
    }
    .age_number {
        margin-left: 35px;
    }
    .gender_male{
        margin-left: 14px;
    }
    .email_s {
        margin-left: 24px;
    }
    .phone_number {
        margin-left: 18px;
    }

    #Experience {
    height: 1380px;
    }
    .main_EXP {
        font-size: 20px;
        margin-top: 0px;
        margin-left: 10px;
        height: 0px;
    }
    .Bangkok {
        padding-top: 0px;
        height: 5px;
        display:unset;
    }
    .Bangkok_logo img{
        height: 100px;
        width: 150px;
        margin-left: 95px;
        margin-top: 40px;
    }
    .Bangkok_info {
        padding-left: 0px;
        margin-left: 30px;
        font-size: 8px;
        margin-top: 10px;
        width: 400px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .Bangkok_PIC {
        margin-top: 0px;
        margin-left: 27px ;
        height: 220px;
        width: 300px;
        
    }
    .PTT {
        height: 600px;
        display:unset; 
        padding-top: 0px; 
    }
    .PTT_PIC {
        height: 50px;
        width: 300px;
        padding-left: 0px;
        padding-top: 40px;
        margin-left: 24px;
    }
    .PTT_info {
        width: 700px;
        padding-top: 220px;
        padding-left: 34px;
        font-size: 8px;
    }
    .PTT_logo {
        margin-left: 120px;
        margin-top: 0px;
        
    }
    .PTT_logo img {
        height: 120px;
        width: 120px;
    }
    .SONY {
        display:unset;
    }
    .SONY_logo {
        margin-left: 90px;
        margin-top: 35px;
    }
    .SONY_logo img {
        height: 40px;
        width: 170px;
    }
    .SONY_info {
        margin-left: 30px;
        margin-top: 0px;
        padding-left: 0px;
        font-size: 8px;
    }
    .SONY_PIC {
        margin-top: 0px;
        margin-left: 37px;
        height: 340px;
        width: 280px;
    
    }
    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 44px; /* Place the button at the bottom of the page */
        right: 10px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: rgb(73, 71, 71); /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 10px; /* Increase font size */
    }




    .footer {
        width: 100%;
        
    }
    .social {
        margin-left: 20px;
    }
    .social a{
        padding:0px 20px;
        
    }
}